/public/hot
/public/storage
/storage/*.key
/vendor

# Dependencies
/node_modules

# Enviroment
.env

# Cache
.phpunit.result.cache
.cache

# Homestead
Homestead.json
Homestead.yaml

# Logs
logs
*.log
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

